@import '~scss/var.scss';

.karmaValue {
  color: $greyC4;
  font-size: 12px;
  line-height: 14px;
  padding-right: 4px;
}

.down {
  transform: rotate(180deg);
}

.up {
  padding-right: 4px;
}

@media all and (min-width: 1024px) {
  .karmaCounter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
  }

  .up {
    padding: 0;
  }

  .karmaValue {
    padding: 7px 0;
  }

  .karmaValue {
    font-size: 14px;
    line-height: 16px;
    color: $black;
  }
}

@media all and (min-width: 1540px) {
  .karmaCounter > button.up:hover > svg > path {
    fill: $green;
  }

  .karmaCounter > button.down:hover > svg > path {
    fill: $orange;
  }
}
